{% extends 'base.html' %}


{% block content %}
    <main>
        <div class="textarea-wrapper">
            <div class="textarea-right-wrapper">
                    <p></p>
                    <form action="{{ url_for('predict', question = question)}}" method="post">
                        <textarea name="inputText" class="textarea" rows="8" placeholder="Search your Podcast here!" autofocus="" onkeyup="countChars(this);" onfocus="collapsTextArea(this);"></textarea>
                        <div class="counter-container">
                            <div id="counter" class="counter" style="text-align: center;"></div>
                        </div>

                        <div id="submission" style="text-align: center;">
                            <a href="./predict">
                                <!-- href="../predict" -->
                            <button type="submit" class="submit-btn">Get it!</button>
                            </a>
                        </div>
                    </form>
            </div>
        </div>
    </main>
{% endblock %}
