{% extends 'base.html' %}


{% block content %}
<script>
    var wavesurfers = [];
    var playBtns = [];
    var stopBtns = [];
    var volumeBtns = [];
    var startTimes = [];
    var endTimes = [];
</script>

<body>
    <span>Searched for: </span><span style="color:rgb(0, 161, 173)">{{ query_text }}</span>
    <h3>Check these podcasts out!</h3>
    
    {% for result in results %}
    <div class="container">
        <div class="row">
            <!--<span> {{result.podcast_title}} </span>
            <span style="font-size:10.0pt"> {{result.podcast_url}} </span>-->
            <div class="column left">
                <img src="./static/img/music-icon.jpeg" alt="music-icon" id="music-icon">
                <br>
                <br>
                <span> {{result.podcast_title}} </span>
                <br>
                <a style="font-size:10.0pt" href="{{result.podcast_url}}"> Listen to full episode </a>
                <br>
                <span style="font-size:10.0pt"> {{result.podcast_info}} </span>
            </div>
            <div class="column right">
                <div class="music-player">
                    <div class="info">
                        <div id="m{{ result.id }}"></div>
                        <div class="control-bar">
                            <img src="./static/img/play.png" alt="play" id="playBtn{{ result.id }}" title="Play / Pause">
                            <img src="./static/img/stop.png" alt="stop" id="stopBtn{{ result.id }}" title="Stop">
                            <img src="./static/img/volume.png" alt="volume" id="volumeBtn{{ result.id }}" title="Mute / Unmute">
                        </div>
                        {#<div>Total time: <span id="time-total">0.00</span> s   </div>#}
                        {#<div>Current time: <span id="time-current">0.00</span> s     Remaining time: <span id="time-remaining">0.00</span> s </div>#}
                    </div>
        
                </div>
        
            </div>
        </div>
    </div>    
    



    <script>
        playBtns['{{ result.id }}'] = document.getElementById("playBtn{{ result.id }}");
        stopBtns['{{ result.id }}'] = document.getElementById("stopBtn{{ result.id }}");
        volumeBtns['{{ result.id }}'] = document.getElementById("volumeBtn{{ result.id }}");

        startTimes['{{ result.id }}'] = '{{ result.startTime }}';
        endTimes['{{ result.id }}'] = '{{ result.endTime }}';

        wavesurfers['{{ result.id }}'] = WaveSurfer.create({
            container: '#m{{ result.id }}',
            waveColor: '＃708090',
            progressColor: 'rgb(0, 161, 173)',
            cursorColor: 'rgb(192,192,192)',
            cursorWidth: 1.5,
            barWidth: 3,
            responsive: false,
            hideScrollbar: true,
            barRadius: 3,
            normalize: true
        });

        wavesurfers['{{ result.id }}'].on('ready', function() {
            wavesurfers['{{ result.id }}'].seekAndCenter(parseFloat('{{ result.start_proportion }}'))
        });
        wavesurfers['{{ result.id }}'].on('play', function() {
            playBtns['{{ result.id }}'].src  = "./static/img/pause.png";
        })
        wavesurfers['{{ result.id }}'].on('pause', function() {
            playBtns['{{ result.id }}'].src  = "./static/img/play.png";
        })

        wavesurfers['{{ result.id }}'].load('{{ result.fileName }}');


        playBtns['{{ result.id }}'].onclick = function(){
            wavesurfers['{{ result.id }}'].playPause();
        }

        wavesurfers['{{ result.id }}'].on('audioprocess', function() {
          if (wavesurfers['{{ result.id }}'].isPlaying()) {
            var totalTime = wavesurfers['{{ result.id }}'].getDuration(),
                currentTime = wavesurfers['{{ result.id }}'].getCurrentTime(),
                remainingTime = totalTime - currentTime;

            document.getElementById('time-total').innerText = totalTime.toFixed(1);
            document.getElementById('time-current').innerText = currentTime.toFixed(1);
            document.getElementById('time-remaining').innerText = remainingTime.toFixed(1);
          }
        });

        stopBtns['{{ result.id }}'].onclick = function(){
            wavesurfers['{{ result.id }}'].stop();
            playBtns['{{ result.id }}'].src = "./static/img/play.png"
        }

        volumeBtns['{{ result.id }}'].onclick = function(){
            wavesurfers['{{ result.id }}'].toggleMute();
            if(volumeBtns['{{ result.id }}'].src.match("volume")){
                volumeBtns['{{ result.id }}'].src  = "./static/img/mute.png";
            }
            else{
                volumeBtns['{{ result.id }}'].src = "./static/img/volume.png"
            }
        }
    </script>
    </a><br/>

    {% endfor %}
</body>




{% endblock %}
